.wrapper {
    background: #F7F9FC;
    border-radius: 12px;

}

.wrapper:nth-child(2n+1) {
    background: #fff;
}



.name {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-top: 7px;

    color: #0A1539;
}

.name::before {
    content: url(/public/coin.png);

    position: relative;
    top: 9px;
    right: 4px;
}

.price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0A1539;
    margin-top: 20px;
}

.span {
    color: #9095A5;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.available {
    font-weight: 500;
    color: #0A1539;
    font-size: 14px;
    line-height: 22px;
    margin-top: 18px;
}

.limits {
    font-weight: 500;
    color: #0A1539;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 20px;
}


.payment {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin-top: 10px;
    display: flex;
}

.border {
    margin-top: 10px;
    width: 2px;
    height: 15px;
    background-color: orange;
    margin-right: 5px;
}
.coinbutton{
width: 114px; 
margin-top: 16px; 
margin-right: 20px;
}

@media (max-width: 550px) {
   .wrapper{
    width: 320px;
    height: 130px;
    display: grid;
   }
   .available{
    
   }
   .limits{
    
   }
   .payment{
   
   }
   .coinbutton{
    
   }
   .name{
    
   }
   
  }