.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0A1539;
}

.content {
    width: 100%;
    max-width: 1110px;
    background: #fff;
    margin-top: 40px;
}

.text {
    display: flex;
    color: #9095A5;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.trade {

    display: flex;
    align-items: center;

}



.row {
    display: grid;
    grid-template-columns: repeat(5, 22%);
    align-items: stretch;
    justify-items: stretch;
    margin-left: 20px;
    margin-top: 15px;
}

@media (min-width: 600px) {
    .mobileTable {
        display: none;
    }
}


@media (max-width: 600px) {
    .table {
        display: none;
    }
    .content{
        margin-left: 15px;
    }
    
}

.mobileCardContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}